@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/* 2. Standard Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;